
    <!-- <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-image-center" style="align-content: center;">
          <img src="https://raw.githubusercontent.com/CodAffection/Asp.Net-Core-Web-API---Role-Based-Authorization-in-Angular-7-with-Identity-Role/master/Angular%207/src/assets/img/403.png" style="height:300px;width:300px;" alt="forbidden-img">
  
        </div>
        <div class="card-content">
          <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
          <p>You don't have the permission to access this resource.</p>
        </div>
      </div>
    </div> -->
    <div class="forbidden-content">
        <div class="forbidden-title">
            <p>403 - ACCESS DENIED</p>
        </div>
        <div class="forbidden-img">
            <img src="https://raw.githubusercontent.com/CodAffection/Asp.Net-Core-Web-API---Role-Based-Authorization-in-Angular-7-with-Identity-Role/master/Angular%207/src/assets/img/403.png" alt="forbidden-img">
        </div>
        <div class="forbidden-text">
            <p>You don't have the permission to access this resource.</p>
        </div>
    </div>
 
  