<div class="flex-conteiner3" id="flexbox3">
    <div class="img-container" id="students">
        <p>Students</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="students-sub">
            <a href="https://microsoft.com" target="_blank">
                <img src="assets/icons/students.jpg" alt="students" />
            </a>
        </div>
    </div>
    <div class="img-container" id="faculties">
        <p>Faculties</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="faculties-sub">
            <a href="https://microsoft.com" target="_blank">
                <img src="assets/icons/faculties.png" alt="faculties" />
            </a>
        </div>
    </div>
    <div class="img-container" id="groups">
        <p>Groups</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="groups-sub">
            <a href="https://microsoft.com" target="_blank">
                <img src="assets/icons/groups.jpg" alt="groups" />
            </a>
        </div>
    </div>
</div>
<div class="flex-conteiner2" id="flexbox2">
    <div class="img-container" id="subjects">
        <p>Subjects</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="subjects-sub">
            <a href="https://microsoft.com" target="_blank">
                <img src="assets/icons/subjects.ico" alt="subjects" />
            </a>
        </div>
    </div>
    <div class="img-container" id="teachers">
        <p>Teachers</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="teachers-sub">
            <a href="/Teachers/" target="_blank">
                <img src="assets/icons/teachers.ico" alt="teachers" />
            </a>
        </div>
    </div>
</div>
<div class="flex-conteiner1" id="flexbox1">
    <div class="img-container" id="schedule">
        <p>Schedule</p>
        <div hover-class="img-wrapper-focused" parentClass="img-container-focused" class="img-wrapper" id="schedule-sub">
            <a href="https://microsoft.com" target="_blank">
                <img src="assets/icons/schedule.ico" alt="schedule" />
            </a>
        </div>
    </div>
</div>
